<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.ISafeMapper">

	<!-- 회원 가입하기(회원정보 등록하기) -->
	<insert id="insertSafeUserInfo" parameterType="SafeDTO">
		INSERT INTO SAFEUSER_INFO
			(
				USER_ID,
				USER_NAME,
				PASSWORD,
				EMAIL,
				ADDR1,
				ADDR2,
				STORENAME,
				BNUMBER,
				PNUMBER,
				BUSER,
				REG_ID,
				REG_DT,
				CHG_ID,
				CHG_DT
			)
			VALUES(
				#{user_id},
				#{user_name},
				#{password},
				#{email},
				#{addr1},
				#{addr2},
				#{storename},
				#{bnumber},
				#{pnumber},
				1,
				#{user_id},
				SYSDATE,
				#{user_id},
				SYSDATE
		)
	</insert>
	
	
		<!-- 이메일로 회원가입 중복 방지 -->
	<select id="getSafeUserExists" parameterType="SafeDTO"
		resultType="SafeDTO">
		SELECT DECODE(COUNT(1),0,'N','Y') AS EXISTS_YN
		FROM
		BUSER_INFO
		WHERE EMAIL=#{email}
	</select>
	
	<!-- 로그인을 위해 아이디와 비밀번호가 일치하는지 확인하기 -->
	<select id="getUserSafeLoginCheck" parameterType="SafeDTO" resultType="SafeDTO">
		SELECT USER_ID, USER_NAME, EMAIL
		FROM BUSER_INFO
		WHERE USER_ID = #{user_id}
		AND PASSWORD = #{password}
	</select>
	
	<!-- ######################################################################################################################## -->
	
		<!-- 개안회원 가입하기(회원정보 등록하기) -->
	<insert id="insertNUserInfo" parameterType="NUserInfoDTO">
		INSERT INTO PUSER_INFO
			(
				USER_ID,
				USER_NAME,
				PASSWORD,
				EMAIL,
				ADDR1,
				ADDR2,
				PNUMBER,
				USER_2,
				REG_ID,
				REG_DT,
				CHG_ID,
				CHG_DT
			)
			VALUES(
				#{user_id},
				#{user_name},
				#{password},
				#{email},
				#{addr1},
				#{addr2},
				#{pnumber},
				2,
				#{user_id},
				SYSDATE,
				#{user_id},
				SYSDATE
		)
	</insert>
	
	
		<!-- 이메일로 회원가입 중복 방지 -->
	<select id="getNUserExists" parameterType="NUserInfoDTO"
		resultType="NUserInfoDTO">
		SELECT DECODE(COUNT(1),0,'N','Y') AS EXISTS_YN
		FROM
		PUSER_INFO
		WHERE EMAIL=#{email}
	</select>
	
	<!-- 로그인을 위해 아이디와 비밀번호가 일치하는지 확인하기 -->
	<select id="getNUserLoginCheck" parameterType="NUserInfoDTO" resultType="NUserInfoDTO">
		SELECT USER_ID, USER_NAME, EMAIL
		FROM PUSER_INFO
		WHERE USER_ID = #{user_id}
		AND PASSWORD = #{password}
	</select>
	
	
	
	
	</mapper>